[preset.0]

name="Linux"
platform="Linux"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="release/*.pub"
exclude_filter="README*,node_modules/*,eralife-discord-gateway/*"
export_path="../build/linux/EraLife.x86_64"
script_export_mode=2

[preset.0.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
binary_format/embed_pck=false
binary_format/architecture="x86_64"
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false

[preset.1]

name="Windows Desktop"
platform="Windows Desktop"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="release/*.pub"
exclude_filter="README*,node_modules/*,eralife-discord-gateway/*"
export_path="../build/windows/EraLife.exe"
script_export_mode=2

[preset.1.options]

custom_template/debug=""
custom_template/release=""
debug/export_console_wrapper=0
binary_format/embed_pck=false
binary_format/architecture="x86_64"
texture_format/s3tc_bptc=true
texture_format/etc2_astc=false
codesign/enable=false
; Avoid requiring Wine/rcedit just to cross-export from Linux.
application/modify_resources=false
application/export_angle=2
application/export_d3d12=2

[preset.2]

name="Android ARM64 Experimental"
platform="Android"
runnable=false
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="release/*.pub"
exclude_filter="README*,node_modules/*,eralife-discord-gateway/*"
export_path="../build/android/EraLife-android-arm64-experimental.apk"
script_export_mode=2

[preset.2.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=false
architectures/arm64-v8a=true
architectures/x86=false
architectures/x86_64=true
version/code=9
version/name="0.1.2-mobile.9"
package/unique_name="org.eralife.community.mobile"
package/name="Era Life Community"
package/signed=true
package/app_category=0
package/show_in_android_tv=false
launcher_icons/main_192x192="res://branding/EraLifeIcon.png"
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
permissions/internet=true

[preset.3]

name="Android"
platform="Android"
runnable=true
advanced_options=false
dedicated_server=false
custom_features=""
export_filter="all_resources"
include_filter="release/*.pub"
exclude_filter="README*,node_modules/*,eralife-discord-gateway/*"
export_path="../build/android/EraLife-android-debug.apk"
script_export_mode=2

[preset.3.options]

custom_template/debug=""
custom_template/release=""
gradle_build/use_gradle_build=false
architectures/armeabi-v7a=true
architectures/arm64-v8a=false
architectures/x86=false
architectures/x86_64=false
version/code=9
version/name="0.1.2-mobile.9"
package/unique_name="org.eralife.community.mobile"
package/name="Era Life Community"
package/signed=true
package/app_category=0
package/show_in_android_tv=false
launcher_icons/main_192x192="res://branding/EraLifeIcon.png"
screen/immersive_mode=true
screen/support_small=true
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
permissions/internet=true
